* {
    outline: 0 !important;
    font-family: 'Montserrat Alternates', sans-serif !important;
}

html,
body {
    font-family: 'Raleway', sans-serif;
}

a {
    text-decoration: none;
    color: #004460;
}

.title1 {
    color: #004460;
    font-size: 60px;
}

.title2 {
    color: #004460;
    font-size: 40px;
    font-weight: bold;
}

.title3 {
    color: #004460;
    font-size: 30px;
}

.img {
    max-width: 100%;
    position: absolute;
}

.img:hover {
    opacity: 1;
}

.paragraph {
    color: #666666;
    font-size: 18px;
    line-height: 25px;
    text-align: justify;
    position: absolute;
}

.sectionBorder1 {
    /* border-style: solid; */
    /* border-width: 50px 100px 100px 100px; */
    margin: 10% 5% 5% 5%;
    background-color: transparent;
    /*top right bottom left*/
    /* -moz-box-shadow: 3v 3px 5px 6px rgb(105, 105, 105);
    -webkit-box-shadow: 3px 3px 5px 6px rgb(105, 105, 105);
    box-shadow: 3px 3px 5px 6px rgb(105, 105, 105); */
}

.sectionBorder {
    /* border-style: solid; */
    /* border-width: 50px 100px 100px 100px; */
    margin: 10% 5% 5% 5%;
    /* background-color: #d3d3d3AA; */
    /*top right bottom left*/
    /* -moz-box-shadow: 3v 3px 5px 6px rgb(105, 105, 105);
    -webkit-box-shadow: 3px 3px 5px 6px rgb(105, 105, 105);
    box-shadow: 3px 3px 5px 6px rgb(105, 105, 105); */
}

#page2 {
    position: absolute;
    margin: 10vh 5vh 0vh 5vh;
    z-index: -1;
    /* background-color: red; */
    height: 95vh;
    width: 90vw;
    background-color: #d3d3d3AA;
}

#page {
    position: absolute;
    margin: -1vh 5vh -1vh 5vh;
    z-index: -1;
    /* background-color: red; */
    height: 101vh;
    width: 90vw;
    background-color: #d3d3d3AA;
}

#page3 {
    position: absolute;
    margin: 0vh 5vh 5vh 5vh;
    z-index: -1;
    /* background-color: red; */
    height: 95vh;
    width: 90vw;
    background-color: #d3d3d3AA;
}

@media (max-width:1024px),
(max-height:600px) {
    .title1 {
        font-size: 40px;
    }
    .title2 {
        font-size: 30px;
    }
    .title3 {
        font-size: 22px;
    }
    .paragraph {
        font-size: 14px;
        line-height: 20px;
    }
    .sectionBorder {
        border-width: 25px 50px 50px 50px;
    }
}

.section1 {
    border-color: transparent;
}

.section2 {
    border-color: transparent;
}

.section3 {
    border-color: transparent;
}

.section4 {
    border-color: transparent;
}

.section5 {
    border-color: transparent;
}

.section6 {
    border-color: transparent;
}

.section7 {
    border-color: transparent;
}

.section8 {
    border-color: transparent;
}

.section9x1 {
    position: absolute;
    border-style: solid;
    border-width: 5px 5px 5px 5px;
    /*top right bottom left*/
    border-color: #166088;
    top: 25%;
    left: 5%;
    width: 40%;
    padding-top: 400px;
    padding-left: 5px;
    background-color: #ffffff;
}

.section9x2 {
    position: absolute;
    border-style: solid;
    border-width: 5px 5px 5px 5px;
    /*top right bottom left*/
    border-color: #166088;
    top: 25%;
    left: 55%;
    width: 40%;
    padding-top: 400px;
    padding-left: 5px;
    float: right;
    background-color: #ffffff;
}

.slidecontainer {
    position: absolute;
    width: 40%;
    /* Width of the outside container */
    left: 50%;
    top: 85%;
}


/* The slider itself */

.slider {
    -webkit-appearance: none;
    /* Override default CSS styles */
    appearance: none;
    width: 100%;
    /* Full-width */
    height: 15px;
    border-radius: 5px;
    background: #d3d3d3;
    /* Grey background */
    outline: none;
    /* Remove outline */
    opacity: 0.7;
    /* Set transparency (for mouse-over effects on hover) */
    -webkit-transition: .2s;
    /* 0.2 seconds transition on hover */
    transition: opacity .2s;
}


/* Mouse-over effects */

.slider:hover {
    opacity: 1;
    /* Fully shown on mouse-over */
}


/* The slider handle (use -webkit- (Chrome, Opera, Safari, Edge) and -moz- (Firefox) to override default look) */

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    /* Override default look */
    appearance: none;
    width: 25px;
    /* Set a specific slider handle width */
    height: 25px;
    border-radius: 50%;
    background: #4CAF50;
    /* Green background */
    cursor: pointer;
    /* Cursor on hover */
}

.slider::-moz-range-thumb {
    width: 25px;
    /* Set a specific slider handle width */
    height: 25px;
    border-radius: 50%;
    background: #4CAF50;
    /* Green background */
    cursor: pointer;
    /* Cursor on hover */
}

#testMap {
    position: absolute;
    top: 2%;
    left: 43%;
    width: 0.1%;
    background-color: transparent;
}
#myVideo {
    position: fixed;
    left: 0;
    width: 100%;
    top: 0;
    z-index: -2;
  }