* {
    outline: 0 !important;
}

html,
body {
    font-family: 'Raleway', sans-serif;
}

a {
    text-decoration: none;
    color: #004460;
}

.title1 {
    color: #004460;
    font-size: 60px;
}

.title2 {
    color: #004460;
    font-size: 40px;
    font-weight: bold;
}

.title3 {
    color: #004460;
    font-size: 30px;
}

.img {
    max-width: 100%;
    position: absolute;
}

.img:hover {
    opacity: 1;
}

.paragraph {
    color: #666666;
    font-size: 18px;
    line-height: 25px;
    text-align: justify;
    position: absolute;
}

.sectionBorder {
    border-style: solid;
    border-width: 50px 100px 100px 100px;
    /*top right bottom left*/
}

@media (max-width:1024px),
(max-height:600px) {
    .title1 {
        font-size: 40px;
    }
    .title2 {
        font-size: 30px;
    }
    .title3 {
        font-size: 22px;
    }
    .paragraph {
        font-size: 14px;
        line-height: 20px;
    }
    .sectionBorder {
        border-width: 25px 50px 50px 50px;
    }
}


/* DIAPO1 */

.txt1x1 {
    position: absolute;
    top: 15%;
    left: 30%;
    text-align: center;
}

.txt1x2 {
    position: absolute;
    top: 27%;
    left: 25%;
    text-align: center;
    font-weight: bold;
}

#marquee1 {
    position: absolute;
    top: 27%;
    left: -6%;
    text-align: center;
    font-size: 60px;
    font-weight: bold;
}

#marquee2 {
    position: absolute;
    top: 27%;
    left: -6%;
    text-align: center;
    font-size: 60px;
    font-weight: bold;
}

#marquee3 {
    position: absolute;
    top: 27%;
    left: -6%;
    text-align: center;
    font-size: 60px;
    font-weight: bold;
}

#marquee4 {
    position: absolute;
    top: 27%;
    left: -6%;
    text-align: center;
    font-size: 60px;
    font-weight: bold;
}

.txt1x3 {
    top: 43%;
    left: 25%;
    width: 37%;
    font-size: 16px;
    line-height: 25px;
}

.txt1x4 {
    position: absolute;
    text-align: center;
    top: 75%;
    left: 33%;
    width: 25%;
    font-size: 21px;
    font-weight: semi-bold;
    color: #aec900;
}

.txt1x5 {
    position: absolute;
    top: 27%;
    left: 25%;
    text-align: center;
    font-size: 60px;
    font-weight: bold;
    color: #004460;
}


/* DIAPO1 */


/* DIAPO2 */

.txt2x1 {
    position: absolute;
    top: 22%;
    left: 15%;
    text-align: center;
}

.txt2x2 {
    position: absolute;
    top: 29%;
    left: 15%;
    text-align: center;
}

.txt2x3 {
    top: 45%;
    left: 15%;
    width: 50%;
}

.txt2x5 {
    position: absolute;
    left: 12.5%;
    font-size: 1.0vw;
    font-weight: bold;
}

.txt2x6 {
    position: absolute;
    left: 12.5%;
    font-size: 0.8vw;
    line-height: 20px;
    margin-right: 30px;
    text-align: justify;
}

.a2x6,
.a3x6 {
    color: white;
}

.bulle2 {
    z-index: 3;
    position: absolute;
    top: 70%;
    left: 75%;
    background-color: #7c2722;
    width: 23%;
    height: 35%;
    color: white;
    border-radius: 1vw;
    vertical-align: middle;
    padding-top: 20px;
    padding-bottom: 200px;
    display: none;
}

@media (max-width:1024px) {
    .txt2x3 {
        font-size: 14px;
        line-height: 20px;
    }
    .txt2x1 {
        font-size: 22px;
    }
    .txt2x2 {
        font-size: 30px;
    }
}


/* DIAPO2 */


/* DIAPO3 */

.txt3x1 {
    position: absolute;
    top: 10%;
    left: 30%;
    text-align: center;
}

.txt3x2 {
    position: absolute;
    top: 17%;
    left: 30%;
    text-align: center;
}

.txt3x3 {
    position: absolute;
    top: 55%;
    left: 70%;
    width: 25%;
    font-size: 16px;
    line-height: 25px;
    display: none;
    text-align: justify;
}

.txt3x4 {
    position: absolute;
    top: 80%;
    left: 30%;
    width: 60%;
    display: none;
    text-align: justify;
}

.txt3x5 {
    position: absolute;
    left: 12.5%;
    font-size: 1.0vw;
    font-weight: bold;
}

.txt3x6 {
    position: absolute;
    left: 12.5%;
    font-size: 0.8vw;
    line-height: 20px;
    margin-right: 30px;
    text-align: justify;
}

.txt3x6 {
    position: absolute;
    left: 12.5%;
    font-size: 0.8vw;
    line-height: 20px;
    margin-right: 30px;
    text-align: justify;
}

.txt3xquestion {
    position: absolute;
    top: 35%;
    left: 43%;
    width: 40%;
    display: block;
    font-size: 18px;
    font-weight: bold;
}

.txt3xchoix1 {
    position: absolute;
    top: 51%;
    left: 52%;
    width: 15%;
    display: block;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    background-color: #f1f1f1;
    color: #166088;
    font-size: 16px;
    padding: 16px 30px;
    border-color: #166088;
    cursor: pointer;
    border-radius: 25px;
    text-align: center;
}

.txt3xchoix1:hover {
    background-color: #166088;
    color: white;
}

.txt3xchoix2 {
    position: absolute;
    top: 51%;
    left: 68%;
    width: 15%;
    display: block;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    background-color: #f1f1f1;
    color: #166088;
    font-size: 16px;
    padding: 16px 30px;
    border-color: #166088;
    cursor: pointer;
    border-radius: 25px;
    text-align: center;
}

.txt3xchoix2:hover {
    background-color: #166088;
    color: white;
}

.txt3xchoix3 {
    position: absolute;
    top: 62%;
    left: 52%;
    width: 15%;
    display: block;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    background-color: #f1f1f1;
    color: #166088;
    font-size: 16px;
    padding: 16px 30px;
    border-color: #166088;
    cursor: pointer;
    border-radius: 25px;
    text-align: center;
}

.txt3xchoix3:hover {
    background-color: #166088;
    color: white;
}

.txt3xchoix4 {
    position: absolute;
    top: 62%;
    left: 68%;
    width: 15%;
    display: block;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    background-color: #f1f1f1;
    color: #166088;
    font-size: 16px;
    padding: 16px 30px;
    border-color: #166088;
    cursor: pointer;
    border-radius: 25px;
    text-align: center;
}

.txt3xchoix4:hover {
    background-color: #166088;
    color: white;
}

.definition2 {
    color: #a00;
    font-weight: bold;
}

.definition2:hover {
    text-decoration: none;
    color: white;
    background: #800;
    cursor: pointer;
}

.definition3 {
    color: #a00;
}

.definition3:hover {
    text-decoration: none;
    color: white;
    background: #800;
    cursor: pointer;
}

.bulle3 {
    z-index: 3;
    position: absolute;
    top: 15%;
    left: 82%;
    background-color: #7c2722;
    width: 23%;
    height: 35%;
    color: white;
    border-radius: 1vw;
    vertical-align: middle;
    padding-top: 20px;
    padding-bottom: 200px;
    display: none;
}

@media (max-width:1024px) {
    .
}


/* DIAPO3 */


/* DIAPO4 */

.txt4x1 {
    position: absolute;
    top: 10%;
    left: 15%;
    text-align: center;
}

.txt4x2 {
    position: absolute;
    top: 10%;
    left: 30%;
    text-align: center;
}

.txt4x3 {
    position: absolute;
    top: 21%;
    left: 15%;
    width: 45%;
    text-align: justify;
    font-size: 18px;
    line-height: 25px;
}

.txt4x4 {
    position: absolute;
    top: 65%;
    left: 5%;
    width: 65%;
    display: none;
    font-size: 1.2vw;
    color: #666666;
    text-align: justify;
}


/* DIAPO4 */


/* DIAPO5 */

.txt5x1 {
    position: absolute;
    top: 10%;
    left: 13%;
    text-align: center;
}

.txt5x2 {
    position: absolute;
    top: 10%;
    left: 30%;
    text-align: center;
}

.txt5x3 {
    position: absolute;
    top: 20%;
    left: 13%;
    width: 62%;
}

.txt5x4 {
    position: absolute;
    font-size: 14px;
    font-weight: regular;
    top: 10%;
    left: 25%;
}

.txt5x5 {
    position: absolute;
    font-size: 6.0vw;
    font-weight: bold;
    top: 50%;
    left: 20%;
    width: 60%;
}

.txt5x6 {
    position: absolute;
    font-size: 2.8vw;
    top: 64%;
    left: 53%;
    width: 60%;
}

.txt5x7 {
    position: absolute;
    font-size: 1.0vw;
    top: 88%;
    left: 50%;
    width: 60%;
    line-height: 20px;
    font-weight: bold;
}

.txt5x8 {
    position: absolute;
    font-size: 1.0vw;
    top: 88%;
    left: 57.5%;
    width: 60%;
    line-height: 20px;
    font-weight: bold;
}

.txt5x9 {
    position: absolute;
    font-size: 1.0vw;
    top: 88%;
    left: 65%;
    width: 60%;
    line-height: 20px;
    font-weight: bold;
}

.txt5x10 {
    position: absolute;
    font-size: 1.0vw;
    top: 88%;
    left: 72.5%;
    width: 60%;
    line-height: 20px;
    font-weight: bold;
}

.txt5x11 {
    position: absolute;
    font-size: 1.0vw;
    top: 88%;
    left: 80%;
    width: 60%;
    line-height: 20px;
    font-weight: bold;
}

.txt5x12 {
    position: absolute;
    font-size: 1.0vw;
    top: 88%;
    left: 87.5%;
    width: 60%;
    line-height: 20px;
    font-weight: bold;
}

.txt5x13 {
    position: absolute;
    font-size: 20px;
    top: 82%;
    left: 40%;
    width: 8%;
    line-height: 20px;
    font-weight: bold;
}

.bulle5 {
    z-index: -1;
    position: absolute;
    top: 45%;
    left: 58%;
    background-color: #004460;
    width: 28%;
    height: 60%;
    color: white;
    border-radius: 1 vw;
    vertical-align: middle;
    padding-top: 20px;
    padding-bottom: 150px;
    display: table;
}


/* DIAPO5 */


/* DIAPO6 */

.txt6x1 {
    position: absolute;
    top: 10%;
    left: 5%;
    text-align: center;
}

.txt6x2 {
    position: absolute;
    top: 17%;
    left: 5%;
    text-align: center;
}

.txt6x4 {
    position: absolute;
    top: 30%;
    left: 5%;
    width: 36%;
}

.txt6x5 {
    position: absolute;
    left: 12.5%;
    font-size: 1.0vw;
    font-weight: bold;
}

.txt6x6 {
    position: absolute;
    left: 12.5%;
    font-size: 0.8vw;
    line-height: 20px;
    margin-right: 30px;
    text-align: justify;
    width: 75%;
}

.txt6x7 {
    position: absolute;
    top: 67.5%;
    left: 37%;
    width: 55%;
    font-size: 14px;
    font-weight: bold;
    display: block;
}

.txt6x8 {
    position: absolute;
    top: 77.5%;
    left: 37%;
    width: 55%;
    font-size: 14px;
    font-weight: bold;
    display: block;
}

.txt6x9 {
    position: absolute;
    top: 87.5%;
    left: 37%;
    width: 55%;
    font-size: 14px;
    font-weight: bold;
    display: block;
}

.bulle6 {
    z-index: 3;
    position: absolute;
    top: 65%;
    left: 5%;
    background-color: #7c2722;
    width: 20%;
    height: 35%;
    color: white;
    border-radius: 1vw;
    vertical-align: middle;
    padding-top: 20px;
    padding-bottom: 170px;
    display: none;
}

.definition6 {
    color: #a00;
    font-weight: bold;
}

.definition6:hover {
    text-decoration: none;
    color: white;
    background: #800;
    cursor: pointer;
}

.button6 {
    position: absolute;
    left: 35%;
    width: 2.5%;
    height: 25px;
    display: block;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    background-color: #bbbbbb;
    font-size: 12px;
    border-color: transparent;
    cursor: pointer;
    border-radius: 5px;
    text-align: center;
}

.button6x1 {
    top: 70%;
}

.button6x1:hover {
    background-color: #F2ED6F;
    color: white;
}

.button6x2 {
    top: 80%;
}

.button6x2:hover {
    background-color: #587792;
    color: white;
}

.button6x3 {
    top: 90%;
}

.button6x3:hover {
    background-color: #BB4430;
    color: white;
}


/* DIAPO6 */


/* DIAPO7 */

.txt7x1 {
    position: absolute;
    top: 10%;
    left: 5%;
    text-align: center;
}

.txt7x2 {
    position: absolute;
    top: 17%;
    left: 5%;
    text-align: center;
}

.txt7x3 {
    position: absolute;
    top: 30%;
    left: 5%;
    width: 55%;
    font-size: 18px;
    line-height: 30px;
    display: block;
}

.txt7x4 {
    position: absolute;
    top: 52.5%;
    left: 7%;
    width: 55%;
    font-size: 14px;
    font-weight: bold;
    display: block;
}

.txt7x5 {
    position: absolute;
    top: 57.5%;
    left: 7%;
    width: 55%;
    font-size: 14px;
    font-weight: bold;
    display: block;
}

.txt7x6 {
    position: absolute;
    top: 62.5%;
    left: 7%;
    width: 55%;
    font-size: 14px;
    font-weight: bold;
    display: block;
}

.txt7x7 {
    position: absolute;
    top: 67.5%;
    left: 7%;
    width: 55%;
    font-size: 14px;
    font-weight: bold;
    display: block;
}

.txt7x8 {
    position: absolute;
    top: 72.5%;
    left: 7%;
    width: 55%;
    font-size: 14px;
    font-weight: bold;
    display: block;
}

.txt7x9 {
    position: absolute;
    top: 85%;
    left: 8%;
    width: 55%;
    font-size: 18px;
    font-weight: bold;
    display: none;
    color: #ffca18;
    text-align: center;
}

.txt7x10 {
    position: absolute;
    top: 85%;
    left: 8%;
    width: 55%;
    font-size: 18px;
    font-weight: bold;
    display: none;
    color: #f65e53;
    text-align: center;
}

.txt7x11 {
    position: absolute;
    top: 85%;
    left: 8%;
    width: 55%;
    font-size: 18px;
    font-weight: bold;
    display: none;
    color: #67c7f7;
    text-align: center;
}

.txt7x12 {
    position: absolute;
    top: 85%;
    left: 8%;
    width: 55%;
    font-size: 18px;
    font-weight: bold;
    display: none;
    color: #2ae98c;
    text-align: center;
}

.txt7x13 {
    position: absolute;
    top: 85%;
    left: 8%;
    width: 55%;
    font-size: 18px;
    font-weight: bold;
    display: none;
    color: #37004d;
    text-align: center;
}

.txt7x14 {
    position: absolute;
    top: 77.5%;
    left: 7%;
    width: 55%;
    font-size: 14px;
    font-weight: bold;
    display: block;
}

.button7 {
    position: absolute;
    left: 5%;
    width: 2.5%;
    height: 25px;
    display: block;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    background-color: #bbbbbb;
    font-size: 12px;
    border-color: transparent;
    cursor: pointer;
    border-radius: 5px;
    text-align: center;
}

.button7x1 {
    top: 55%;
}

.button7x1:hover {
    background-color: #ffca18;
    color: white;
}

.button7x2 {
    top: 60%;
}

.button7x2:hover {
    background-color: #f65e53;
    color: white;
}

.button7x3 {
    top: 65%;
}

.button7x3:hover {
    background-color: #67c7f7;
    color: white;
}

.button7x4 {
    top: 70%;
}

.button7x4:hover {
    background-color: #2ae98c;
    color: white;
}

.button7x5 {
    top: 75%;
}

.button7x5:hover {
    background-color: #37004d;
    color: white;
}

.button7x6 {
    top: 80%;
    background-color: #9B59B6;
}

.button7x6:hover {
    background-color: #9B59B6;
    color: white;
}


/* DIAPO7 */


/* DIAPO8 */

.txt8x1 {
    position: absolute;
    top: 10%;
    left: 5%;
    text-align: center;
}

.txt8x2 {
    position: absolute;
    top: 10%;
    left: 14%;
    text-align: center;
}

.txt8x3 {
    position: absolute;
    top: 25%;
    left: 5%;
    width: 60%;
    font-size: 18px;
    line-height: 25px;
    text-align: justify;
}

.txt8x4 {
    position: absolute;
    top: 47%;
    left: 5%;
    width: 60%;
    font-size: 18px;
    line-height: 25px;
    text-align: justify;
}

.txt8x5 {
    position: absolute;
    top: 60%;
    left: 5%;
    width: 90%;
    font-size: 21px;
    font-weight: semi-bold;
    color: #aec900;
}

.txt8x6 {
    position: absolute;
    display: block;
    top: 75%;
    left: 5%;
    width: 250px;
    height: 50px;
    background-color: #aec900;
    border-radius: 20px;
    border-color: transparent;
    cursor: pointer;
    font-size: 16px;
    text-align: center;
    color: #ffffff;
}

.txt9x1 {
    position: absolute;
    top: 20%;
    left: 5%;
    text-align: center;
    font-size: 2.5vw;
    font-weight: bold;
    color: #ffffff;
}

.txt9x2 {
    position: absolute;
    top: 20%;
    left: 55%;
    text-align: center;
    font-size: 2.5vw;
    font-weight: bold;
    color: #ffffff;
}

.txt9x3 {
    z-index: 2;
    position: absolute;
    top: 30%;
    left: 3%;
    width: 26%;
    text-align: center;
    font-size: 18px;
    font-weight: semi-bold;
}

.txt9x4 {
    position: absolute;
    top: 30%;
    left: 5%;
    width: 90%;
}

.txt9x5 {
    z-index: 2;
    position: absolute;
    top: 30%;
    left: 34%;
    width: 25%;
    text-align: center;
    font-weight: semi-bold;
}

.txt9x6 {
    z-index: 2;
    position: absolute;
    top: 30%;
    left: 63%;
    width: 35%;
    text-align: center;
    font-weight: semi-bold;
}

.img1x1 {
    top: 30%;
    left: 60%;
    /*height:1000px;*/
    height: 165%;
    width: 48.5%;
}

.img1x2 {
    top: 80%;
    left: 5%;
    /*height:80px;*/
    height: 13%;
    width: 10.8%;
}

.img2x1 {
    top: -95%;
    left: 60%;
    /*height:1000px;*/
    height: 165%;
    width: 48.5%;
}

.img3x1 {
    top: 5%;
    left: -10%;
    /*height:600px;*/
    height: 99%;
    width: 38.5%;
}

.img3x2 {
    top: 60%;
    left: 70%;
    display: none;
}

.img4x1 {
    top: 0%;
    left: 70%;
    /*height:600px; 6.06*/
    height: 99%;
    width: 34.5%;
}

.img5x1 {
    top: 40%;
    left: 50%;
    /*height:250px;*/
    height: 41.3%;
    width: 15%;
}

.img5x2 {
    top: 20%;
    left: -10%;
    /*height:600px;*/
    height: 99%;
    width: 46.3%;
}

.img7x1 {
    top: 0%;
    left: 44%;
    height: 780px;
    z-index: -10;
}

.img8x1 {
    top: 0%;
    left: 63%;
    /*height:600px;*/
    height: 99%;
    width: 40%;
}

.img9x1 {
    position: absolute;
    top: 77%;
    left: 70%;
    height: 60px;
}

.img9x2 {
    position: absolute;
    top: 10%;
    left: 4%;
    height: 45px;
}

.img9x3 {
    position: absolute;
    top: 10%;
    left: 36%;
    height: 50px;
}

.img9x4 {
    position: absolute;
    top: 8%;
    left: 69%;
    height: 70px;
}

.img9x5 {
    position: absolute;
    top: 40%;
    left: -5%;
    /*height:600px;*/
    height: 99%;
    width: 40%;
}

.img9x6 {
    position: absolute;
    top: 8%;
    left: 38%;
    height: 60px;
}

.img9x7 {
    position: absolute;
    top: 10%;
    left: 5%;
    height: 50px;
}

.img9x8 {
    position: absolute;
    top: 8%;
    left: 64%;
    height: 60px;
}

.img9x9 {
    position: absolute;
    top: 7%;
    left: 82%;
    height: 70px;
}

.section1 {
    border-color: transparent;
}

.section2 {
    border-color: transparent;
}

.section3 {
    border-color: transparent;
}

.section4 {
    border-color: transparent;
}

.section5 {
    border-color: transparent;
}

.section6 {
    border-color: transparent;
}

.section7 {
    border-color: transparent;
}

.section8 {
    border-color: transparent;
}

.section9x1 {
    position: absolute;
    border-style: solid;
    border-width: 5px 5px 5px 5px;
    /*top right bottom left*/
    border-color: #166088;
    top: 25%;
    left: 5%;
    width: 40%;
    padding-top: 400px;
    padding-left: 5px;
    background-color: #ffffff;
}

.section9x2 {
    position: absolute;
    border-style: solid;
    border-width: 5px 5px 5px 5px;
    /*top right bottom left*/
    border-color: #166088;
    top: 25%;
    left: 55%;
    width: 40%;
    padding-top: 400px;
    padding-left: 5px;
    float: right;
    background-color: #ffffff;
}

.slidecontainer {
    position: absolute;
    width: 40%;
    /* Width of the outside container */
    left: 50%;
    top: 85%;
}


/* The slider itself */

.slider {
    -webkit-appearance: none;
    /* Override default CSS styles */
    appearance: none;
    width: 100%;
    /* Full-width */
    height: 15px;
    border-radius: 5px;
    background: #d3d3d3;
    /* Grey background */
    outline: none;
    /* Remove outline */
    opacity: 0.7;
    /* Set transparency (for mouse-over effects on hover) */
    -webkit-transition: .2s;
    /* 0.2 seconds transition on hover */
    transition: opacity .2s;
}


/* Mouse-over effects */

.slider:hover {
    opacity: 1;
    /* Fully shown on mouse-over */
}


/* The slider handle (use -webkit- (Chrome, Opera, Safari, Edge) and -moz- (Firefox) to override default look) */

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    /* Override default look */
    appearance: none;
    width: 25px;
    /* Set a specific slider handle width */
    height: 25px;
    border-radius: 50%;
    background: #4CAF50;
    /* Green background */
    cursor: pointer;
    /* Cursor on hover */
}

.slider::-moz-range-thumb {
    width: 25px;
    /* Set a specific slider handle width */
    height: 25px;
    border-radius: 50%;
    background: #4CAF50;
    /* Green background */
    cursor: pointer;
    /* Cursor on hover */
}

.graph3 {
    z-index: -1;
    position: absolute;
    top: 25%;
    left: 200%;
    width: 60%;
    float: right;
    opacity: 0;
    height: 370px;
}

.graph4 {
    z-index: 1;
    position: absolute;
    top: 40%;
    left: 15%;
    width: 45%;
    background-color: transparent;
    opacity: 1;
}

.graph7 {
    z-index: 1;
    position: absolute;
    border-style: solid;
    border-color: transparent;
    top: 30%;
    left: 52%;
    width: 70%;
    background-color: transparent;
    opacity: 1;
    display: block;
    height: 62%;
}

.graph8 {
    z-index: 1;
    position: absolute;
    top: 30%;
    left: 52%;
    width: 70%;
    background-color: transparent;
    opacity: 1;
}

.graph9 {
    z-index: 1;
    position: absolute;
    top: 45%;
    left: 10%;
    width: 50%;
    background-color: transparent;
    opacity: 1;
    height: 62%;
}

#testMap {
    position: absolute;
    top: 2%;
    left: 43%;
    width: 0.1%;
    background-color: transparent;
}