body {
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.column {
    float: left;
    width: 50%;
    flex: 50%;
}

.row:after {
    content: "";
    display: flex;
    clear: both;
}

#particles-js {
    width: 100%;
    height: 100vh;
    background: rgb(86, 193, 255);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}

@media only screen and (max-width: 768px) {
    /* For mobile phones: */
    [class*="column"] {
        width: 100%;
    }
}