.box-slide1 {
    margin-top: -200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#video-slide1 {
    position: absolute;
    left: 45%;
    bottom: 5%;
    height: 10%;
}

#subtitle-slide1 {
    /* position: absolute;
    z-index: inherit 1;
    top: 53%;
    left: 50%; */
    margin-top: -200px;
    font-size: 1.5em;
    font-weight: 600;
    color: #2586C2;
    text-align: center;
}

#scene {
    max-height: 80vh;
    max-width: 70vw;
}

@media (max-width:1300px) {
    #subtitle-slide2 {
        font-size: 0.5em;
    }
}

#gros_text {
    font-weight: 700;
    font-size: 2em;
}