.box-slide3parent {
    display: flex;
    flex-direction: column;
    height: 70vh;
    justify-content: space-between;
}

.box-slide3 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 60vh;
}

#info_commune {
    height: 50vh;
    border-radius: 25px;
    padding: 20px;
    font-size: 0.5em;
    overflow-y: scroll;
}

#partie-gauche-slide3 {
    min-width: 55%;
    margin-left: 3%;
    border: 1px solid #2c28ac;
    font-size: 2em;
}

#partie-droite-slide3 {
    margin-right: 10%;
}

#title-slide3 {
    font-size: 2em;
    margin-left: 3%;
    color: #5551cf;
    font-weight: 600;
}

#button-slide3 {
    width: 25%;
}

@media (max-width:1300px) {

    #partie-droite-slide3 {
        visibility: hidden;
        width: 0%;
    }
    #partie-gauche-slide3 {
        width: 100%;
        font-size: 0.5em;
    }
    #info_commune {
        height: 50vh;
        border-radius: 25px;
        padding: 20px;
        font-size: 2em;
    }
    #button-slide3 {
        width: 5%;
    }
}