.box-slide1 {
    display: flex;
    flex-direction: column;
}

#subtitle-slide1 {
    position: absolute;
    z-index: inherit 1;
    top: 53%;
    left: 3.5%;
    font-size: 1.5em;
    font-weight: 600;
    color: #5551cf;
}

#scene {
    max-height: 60vh;
    max-width: 70vw;
}

@media (max-width:1300px) {
    #subtitle-slide2 {
        font-size: 0.5em;
    }
}