.box-slide4parent {
    display: flex;
    flex-direction: column;
    height: 70vh;
    justify-content: space-between;
}

.box-slide4 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 60vh;
}

#video-slide4 {
    position: absolute;
    right: -5%;
    top: 15%;
    height: 30vw;
}

#video-slide5 {
    position: absolute;
    right: -3.5%;
    top: -13.5%;
    height: 30vw;
}