.box-slide3parent {
    display: flex;
    flex-direction: column;
    height: 70vh;
    justify-content: space-between;
}

.box-slide3 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 60vh;
}

#info_commune {
    height: 50vh;
    border-radius: 25px;
    padding: 20px;
    font-size: 0.5em;
    overflow-y: scroll;
}

#infos_commune {
    font-size: 1.5em;
}

#partie-gauche-slide3 {
    min-width: 60%;
    margin-left: 3%;
    font-size: 2em;
}

#commune {
    font-size: 1.4em;
    border-radius: 100px;
    height: 2em;
    border: 1px solid #004B8E;
    padding-left: 1em;
    margin-right: 2em;
}

#partie-droite-slide3 {
    margin-left: -5em;
}

#title-slide3 {
    font-size: 4em;
    margin-left: 6%;
    color: #004B8E;
    font-weight: 600;
    line-height: 1.1em;
}

#button-slide3 {
    font-size: 1.4em;
    height: 2em;
    width: 10em;
    text-transform: capitalize;
    border-radius: 100px;
    color: #004B8E;
    border: 1px solid #004B8E;
}

#consignes {
    font-size: 1.5em;
}

@media (max-width:1300px) {
    #partie-droite-slide3 {
        visibility: hidden;
        width: 0%;
    }
    #partie-gauche-slide3 {
        width: 100%;
        font-size: 0.5em;
    }
    #info_commune {
        height: 50vh;
        border-radius: 25px;
        padding: 20px;
        font-size: 2em;
    }
    #button-slide3 {
        width: 5%;
    }
}